* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.mylogo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: blue;
  list-style: none;
}

.nav__links {
  list-style: none;
}

.nav__links,
li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #08a;
}

.welcome {
  font-size: 48px;
  line-height: 60px;
  margin-left: 260px;
  margin-top: 359px;
}

.connect {
  font-size: 20px;
  color: blue;
}

.dev-details {
  font-size: 18px;
  line-height: 28px;
  margin-left: 260px;
  margin-right: 260px;
  margin-top: 12px;
  text-align: justify;
}

.connect-icon {
  margin-left: 260px;
  margin-top: 25px;
}
